<h1>Bienvenido a mi nueva entrega! 😎</h1>

{{#if products.length}}
  <section class="productsContainer">
    {{#each products}}
      <div class="productsCard">
        <h3>Nombre: {{title}}</h3>
        <h4>Precio:{{price}}</h4>
        <img src="{{thumbnail}}" /></div>
    {{/each}}
  </section>
{{else}}
  <h3>No hay productos agregados!</h3>
{{/if}}