<a href="/realtimeproducts">Ir a productos en tiempo real</a> 
</button> <a href="/chat">Ir al chat</a></button>

<h1>Bienvenido a mi nueva entrega! 😎</h1>

<h2>Productos (pasar mouse sobre las cards 🥹)</h2>
{{#if products.length}}
  <section class="productsContainer">
    {{#each products}}
      <div class="productsCard">
        <h3>Nombre: {{title}}</h3>
        <h4>Precio:{{price}}</h4>
        <img src="{{thumbnail}}" /></div>
    {{/each}}
  </section>
{{else}}
  <h3>No hay productos agregados!</h3>
{{/if}}

