<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! css }}
    <link rel="stylesheet" href="css/{{style}}" />
    <title>{{title}}</title>
  </head>
  <body>
    <header style="position: sticky; top: 0; z-index: 1">
      <nav style="place-content: center">
        <div>
          <ul style="margin: 0;">
            <li style="padding: 0 10%;">
              <a href="/">Home</a>
            </li>
            <li style="padding: 0 10%;">
              <a href="/realTimeProducts">RealTime</a>
            </li>
            <li style="padding: 0 10%;">
              <a href="/chat">Chat</a>
            </li>
            <li style="padding: 0 10%;">
              <a href="/products">Products</a>
            </li>
            <li style="padding: 0 10%;">
              <a href="/carts">Carts</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>